.home-container {
  background-image: url('/img1.jpg'); 
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  font-family: 'Segoe UI', sans-serif;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6); 
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-content {
  text-align: center;
  color: white;
}

.home-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.home-subtitle {
  font-size: 1.5rem;
  margin-bottom: 25px;
  color: #dcdcdc;
}

.home-btn {
  font-size: 1.2rem;
  padding: 10px 30px;
  border-radius: 8px;
  font-weight: 500;
}
